.btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px 30px;
    outline: medium none;
    padding: 10px 40px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn:after {
    content: "";
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.btn-4 {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    overflow: hidden;
}

.btn-4:hover {
    background: none repeat scroll 0 0 #24B662;
}
.btn-4:before {
    color: #FFFFFF;
    font-size: 125%;
    height: 100%;
    line-height: 3.5;
    position: absolute;
    transition: all 0.3s ease 0s;
}





