<h1>Location of F. Station</h1>

<!--<h2>Result:{{restCaller}}</h2>

<map zoom="11"

     center="[40.74, -74.18]"
     disable-default-u-i="true"
     disable-double-click-zoom="true"
     draggable="false"
     draggable-cursor="help"
     dragging-cursor="move"
     keyboard-shortcuts="false"
     max-zoom="12"
     min-zoom="8"
     tilt="45"
     map-type-id="TERRAIN">

    <marker
            animation="Animation.BOUNCE"
            draggable="true"
            visible="true"
            on-click="click()"
            title="Click to zoom"
            ></marker>



</map>

!-->

<map center="[40.74, -74.18]">
    <marker
            position="[40.76, -74.16]"
            title="Hello Marker"
            animation="Animation.BOUNCE"
            draggable="true"
            visible="true"
            icon="logo2.png"></marker>
</map>

