<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
				<div class="jumbotron">
  					<h1>Ontologies at a glance</h1>
  						<p>The Web-based partition and ontology tool (WAPT) serves as a tool for ontology engineers with dedicated usage. Its main scope is to help analysis and ontology reuse. </p> 
				</div>					

		</div>
	</div>

				<h1> About</h1>			
			<p>The scope of the WAPT project is defined in what follows :</p>
			<ul>
				<li>	analyze aspects like structure and semantics of vocabularies or ontologies</li>
				<li>	understand the content and evolution of vocabularies or ontologies</li>
				<li>	support the partitioning through existing modularization techniques</li>
				<li>	employ the MEAN stack with a NodeJS backend as its software development base</li>
				<li>	export ontologies </li>
				<li>	work cross platform </li>
			</ul>
			
			
			<h2> Sections</h2>			

			<p>The application flow </p>
			<p class="alert alert-warning">It is very important that the steps are followed in order!</p>
			<ol>
				<li>Upload</li>
				<p>The first step into the application is to upload an ontology. There are two options of uploading: </p>

				<ul>
					<li>From local computer<br/>
					A OWL file can be uploaded.</li>
					<li>From the internet <br/>
					An ontology can be uploaded from an existing URL on the Internet. For example: </li>
				</ul>


				<p>Choosing either of the options the ontology is parsed using specific tools. The error messages are marked with red color, while the warning messages (which are not critical for the running of the application) are marked with orange. Success messages are marked with green. </p>
				
				<li>Parse</li>
				<p>Parsing is the second step of an ontology analysis. In this step, metrics are displyed. These metrics include number of classes, axioms, properties, blank nodes. By vieweing the results in a table, the ontology engineer can have at a quick glance a quick statistic of the ontology.</p>
				<li>Visualize</li>
				<p>After having parsed the ontology, another step in analyzing the ontology can be taken. This time, the ontology engineer can visualize the ontology. On the right hand side, a graph is displayed. This graph has all the triples of the ontology. Furthermore, a list of checkboxes can be seen on the left hand side. Here, certain elements can be highlighted. There are two types of highlights possible, either by color, or by shape. A highlight by shape is done such that a color is not overriden.</p>
				<p></p>
				<li>Partition</li>
				<p>The partition is one of the vital parts of the tool. It allows partitiong the ontology into a specified number of graphs.</p>
				<p>The user can specify the number of graphs by dragging the slider.</p>
				<li>Export</li>
				<p>Finally, the ontology can be exported, after clicking on the link for exporting.  A text file with triples will be exported. </p>
				
			</ol>
			<h2> Authors</h2>			
			<p>The application was developed as a part of the Summer 2015 EIS lab, a project part of the University Bonn. </p>

			<div class="bs-callout bs-callout-warning" id="callout-btn-group-tooltips">
    			<h4>The students involved in the project are: </h4>
    			<ul>
    				<li>Ahmad Alzeitoun </li>
					<li>Iulia Buga</li>
					<li>Imuwahen Osazuwa </li>
				</ul>
  			</div>

			

			
				
			



</div><!-- /.container-fluid -->

