     <div class="col-md-12" class="container-fluid">
     <div id="alerts-container" ng-show="loading">
                 <div class="alert alert-info">
                    Getting information about the ontology <img src="css/images/loader.gif" align="right" />
                 </div>
     </div>



     <div  role="status" ng-model="status">
       <div  ng-hide="status < 1"   ng-show="status > 0">
           <div class="alert alert-info">
              Getting information about the ontology
           </div>
       </div>
  </div>



    <div id="nodeJson" style="display: none;"  ></div>
    <div id="edgeJson"  style="display: none;"  ></div>
    <div id="nameSpace" style="display: none;"   ></div>


    <h3 class="list-group-item-heading">Ontology Partitioning:</h3>
    Ontology name: <i>{{ontName}}</i>


<br/>

        <div role="tabpanel">

        <!-- bootstrap model tablist -->
          <ul class="nav nav-tabs" role="tablist">


            <div class="progress-box" >
               <div class="percentage-cur" >
                 <span class="num">{{ selectedRange }} (Graphs No.)</span>
                 <!-- selectedRange -->
               </div>
               <div  ng-click="changeTab()" class="progress-bar progress-bar-slider" role="tablist">
                 <input class="progress-slider" type="range" min="0" max="5" ng-model="selectedRange">
                 <!-- I REMOVED NG-CHANGE AND CHANGED WITH NG-CLICK and it worked -->
                 <div role="presentation" ng-click="changeTab()" class="inner" ng-style="{ width: selectedRange*20 + '%' || '0%' }"></div>
               </div>
               &nbsp;&nbsp;<button type="button" class="btn btn-success btn-s" ng-disabled="selectedRange == 0" ng-click="graph_partitioning()">Apply partitioning algorithm</button>
             </div>



              <li role="presentation" ng-repeat="tab in graphs" ng-click="selectTab($index)" ng-class="{'active':selectedGraph == $index}">
                  <a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">Graph {{tab.id}} </a>

              </li>

          </ul>
          <div class="tab-content">


                <div role="presentation" ng-repeat="tab in graphs">

                    <div  ng-click="selectTab($index)" ng-hide="selectedGraph != $index" ng-attr-id="{{ 'vis-' + tab.id }}"  class="visualize">



                    </div>
                    <!-- <a download="content.txt" ng-href="{{ url }}">download</a> -->

                    <a ng-click="selectTab($index)" ng-hide="selectedGraph != $index" download="{{ 'content-' + tab.id +'.txt' }}"  class="float: right" ng-attr-id="{{ 'link-' + tab.id }}" >download Graph {{tab.id}}</a>


                </div>

                <div id="network-popUp" style="float: left;">
                <span id="operation">Node</span> <br>
                <span id="hidden-id"></span>
                <table style="margin:auto;">
                  <tr>
                    {{oprtType}}
                    <td>label</td><td><input id="node-label" value="" /></td>
                  </tr>
                </table>
                <button ng-click="saveEdit();">save</button>
                <button ng-click="cancelEdit();">cancel</button>
              </div>




      </div>




                    </div>
        </div>
</div>
