.title-news-neg{
	border: 1px solid #AAA6A6;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 700;
	background-color: #BAD1E7;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 2px solid #f00;
	cursor:pointer;
}

.title-news-pos{
	border: 1px solid #AAA6A6;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 700;
	background-color: #BAD1E7;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 2px solid #17D636;
	cursor:pointer;
}

.title-news-neu{
	border: 1px solid #AAA6A6;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 700;
	background-color: #BAD1E7;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 2px solid #457DF3;
	cursor:pointer;
}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 8px solid;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
color: rgb(50, 118, 219);
margin-right: 5px;
}

.news-text{
	border: 1px solid #30887A;
	height: auto;
	padding: 10px;
	font-size: 16px;
	
}

.news{
margin-bottom:5px;
}
.vote-news{
	border: 1px solid #30887A;
	padding: 10px;
	padding-right: 35%;
}